{% extends "player/base.html" %}
{% block content %}
<h1 class="cover-heading">{{ object.slug }}</h1>
<p class="lead">
    Currently playing: {{ object.item_name }}
    {% for user in room.user_set.all %}
    <p>{% if user.room_owner %}⭐{% endif %}{{ user.get_full_name }}</p>
    {% endfor %}
    <p>
    {% if request.user.room == object %}
        <a href="{% url 'room-leave' %}" class="btn btn-secondary">Leave</a>
    {% else %}
        <a href="{% url 'room-join' object.slug %}" class="btn btn-success m-3">Join</a>
    {% endif %}
    </p>
</p>
{% endblock %}
